* {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
html {
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "header"
    "about"
    "projects"
    "experience"
    "education"
    "contacts"
    "footer-section";
  gap: 10px;
  
}
.header {
  height: 270px;
  
  text-align: center;
  display: flex;
  flex-direction: row;
  background: #c3eb3f;
  background: linear-gradient(90deg, rgba(195, 235, 63, 1) 0%, rgba(87, 199, 133, 1) 24%, rgba(237, 221, 83, 1) 100%);
  align-items: center;
}
.name {
  margin: 20px;
  font-weight: bold;
  font-size: 25px;
}
header {
  margin: auto;
  font-size: 27px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.navbar a {
  color: black;
  font-weight: bold;
}
.navbar a:hover {
  text-decoration: underline;
}
.navbar ul li {
  list-style-type: none;
  display: inline;
  margin: 0 15px;
}
.about {
  border: 1px solid #333;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin: 20px;
  font-size: larger;
  border-radius: 20px;
  padding: 20px;
}
.profile-pic {
  border-radius: 50%;
}
img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}
.projects {
  border: 1px solid #333;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
}
.experience {
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-size: larger;
  border-radius: 20px;
  padding: 20px;
}
.education {
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-size: larger;
  border-radius: 20px;
  padding: 20px;
}
.contacts {
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  
  justify-content: space-around;
  margin: 20px;
  font-size: larger;
  border-radius: 20px;
  padding: 20px;
}
.contacts img {
  width: 30px;
  height: auto;
  margin-right: 10px;
}
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #333;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}
@media only screen and (max-width: 320px) {
  .container {
    grid-template-areas: 
      "header"
      "about"
      "projects"
      "experience"
      "education"
      "contacts"
      "footer-section";
  }
  .name {
    font-size: 20px;
  }
  .about, .projects, .experience, .education, .contacts {
    flex-direction: column;
    text-align: center;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }
  .navbar ul li {
    margin-bottom: 10px;
  }
}